<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hamza.andyxhamz">


    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Derp"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".JavaActivity"
            android:label="@string/title_activity_java"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".JavaFortsActivity"
            android:label="@string/title_activity_java_forts"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CPPActivity"
            android:label="@string/title_activity_cpp"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DatabasActivity"
            android:label="@string/title_activity_databas"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>
